$dark-grey: #222222;
$medium-grey: rgba(53, 53, 53, 0.5);
$border-radius: 6px;

h2 {
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

.data-container {
  margin-top: 0;
  padding: 1rem;
  background-color: lightgrey;
  border-radius: $border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#poster-container {
  width: 60%;
  margin: 1rem auto 2rem;
}

#poster {
  border-radius: $border-radius;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.dark-grey {
  color: $dark-grey;
}

.heading-label {
  padding: 1rem;
  font-weight: bold;
  border-bottom: 2px solid $medium-grey;
  background-color: $medium-grey;
  color: white;
  margin-bottom: 0;
  border-radius: $border-radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}
