$dark-grey: #222222;
$medium-grey: rgba(53, 53, 53, 0.5);
$border-radius: 6px;

#detailView {
  
}
/*
 * Reinicia las propiedades por defecto
 */
h2 {
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}

/*
 * Estilos para la vista de detalle
 */
.dark-grey {
  color: $dark-grey;
}

.data-container {
  margin-top: 0;
  padding: 1rem;
  background-color: lightgrey;
  border-radius: $border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.heading-label {
  padding: 1rem;
  font-weight: bold;
  border-bottom: 2px solid $medium-grey;
  background-color: $medium-grey;
  color: white;
  margin-bottom: 0;
  border-radius: $border-radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

#poster {
  display: block;
  margin: 0 auto;
  max-height: 50vh;
  border-radius: $border-radius;
}

#poster-container {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
